.story-container {
    padding-top: 100px;

    .story {
        .swiper-pagination {
            position: sticky;
            text-align: center;
            transition: 300ms opacity;
            transform: translate3d(0, 0, 0);
            z-index: 10;

            .swiper-pagination-bullet {
                background: #ffffff;
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #2775BB;
            }
        }
    }

    .swiper-pagination-bullet {
        background: #ffffff !important;
    }
    
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #2775BB !important;
    }

    .image {
        width: "100%";
        // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.36) 47.92%, #000 100%);
    }

    .title {
        position: absolute;
        top: 60%;
        margin-left: 7%;
        margin-right: 7%;
        color: #fff;
        font-family: "Inter";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        white-space: nowrap;
    }

    .content {
        position: absolute;
        top: 70%;
        margin-left: 7%;
        margin-right: 7%;
        text-align: start;
        color: #FFF;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .title-story {
        color: #3A3A3A;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
    }

    .highlight-story {
        color: #1A1A1A;
        font-family: "Inter";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        padding-top: 10px;
    }

    .content-story {
        color: #42423B;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-top: 35px;
    }

    .read-more {
        color: var(--color-primary, #2775BB);
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-top: 30px;
    }

    .card-story {
        // background-size: cover;
        // aspect-ratio: 1.8 / 1;
        // border-radius: 20px 0px 0px 20px;

        .title-img {
            color: #FFF;
            font-family: "Inter";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        }

        .content-img {
            padding-top: 2px;
            color: #FFF;
            font-family: "Source Sans Pro";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            // width: 800px;
        }

        .list-year {
            padding-top: 30px;
            direction: column;
            justify-content: center;
            align-items: center;
            // height: 30px;

        }

        .MuiButton-root.btn-year {
            height: 30px;
            border-radius: 100px;
            border: 1px solid #FFF;
            color: #FFF;
            font-family: "Source Sans Pro";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            &:hover {
                border-color: #fff;
                background-color: #fff;
                color: #123554;
            }
        }

        .divider {
            padding-bottom: 10px;
        }

    }
}