.submenu-company {
    color: #002561 !important;
    user-select: none;

    .content-container {
        padding: 36px 0px;
    }

    .image {
        width: 953px;
        height: 118px;
        margin-top: 35px;
        background-size: cover;
        border-radius: 12px;
        background-position: center;

        .img-content {
            .title {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
            }
            .content {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .MuiButtonBase-root {
        color: #fff !important;
        border-color: #fff !important;
        font-size: 14px !important;
        border-radius: 55px !important;
        height: 36px;
    }

    .MuiTypography-root.MuiTypography-body1 {
        font-size: 16px;
        font-weight: 700;
    }

    .submenu {
        margin-top: 16px;

        a {
            color: #006CAE;

            &:hover {
                color: #009EDB;
            }

            .MuiTypography-root.MuiTypography-body2 {
                font-size: 14px !important;
                font-weight: 400 !important;
                font-family: "Source Sans Pro" !important;
                line-height: 30px !important;

            }
        }

    }
    
    .arrow-icon {
        width: 22px !important;
        height: 22px !important;
    }
}

//laptop 14" (screen pecentage 80% alike)
@media only screen and (min-width: 1279px) and (max-width: 1281px) {
    .submenu-penawaran {
        .content-container {
            padding: 30px 40px;

            .image {
                width: 228px;
                height: 133px;
            }

            .MuiTypography-root.MuiTypography-body1 {
                font-size: 14px !important;
                font-weight: 600 !important;
            }

            .submenu {
                a {
                    .MuiTypography-root.MuiTypography-body2 {
                        font-family: "Source Sans Pro" !important;
                        font-size: 14px !important;
                        font-weight: 400 !important;
                    }
                }
            }

            .arrow-icon {
                width: 22px !important;
                height: 22px !important;
            }
        }
    }
}