.drawer-menu-content {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #2775BB 0%, #123554 100%);
    position: relative;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;


    .header-menu {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        .MuiButtonBase-root{
            padding: 0px !important;
        }
        .title-menu.MuiTypography-root.MuiTypography-body1 {
            color: #FFF !important;
            font-family: Inter !important;
            font-size: 16px !important;
            font-style: normal !important;
            font-weight: 600 !important;
            line-height: 24px;
        }
    }

    &::before {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../../../../../assets/img/logo/garuda-menu.png);
        background-repeat: no-repeat;
        background-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title-parent {
        color: #fff;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-family: Source Sans Pro;
    }


    .main-accordion {
        background-color: transparent;
        max-width: 1023px;
        .accordion-details {
            padding: 0px 32px 0px;

        }

       
        .title-detail {
            color: #FFFFFF !important;
            font-family: Source Sans Pro;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
        }

        .text-detail {
            color: #FFFFFF !important;
            font-family: Source Sans Pro;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 30px;
        }

    }

    .paper-content.MuiPaper-root {
        background-color: rgba(255, 255, 255, 0.05);
        color: #fff;
        border-radius: 12px;
    }

    .line-box {
        margin: 10px 16px 10px 0px;
    }

    .MuiDivider-root {

        &.content-line {
            background: rgba(255, 255, 255, 0.10) !important;
            height: 1px;
        }
    }

    .garuda-box {
        margin: 17px 18px 30px 18px;
        text-align: center;
    }

    .MuiButtonBase-root.btn-garuda {
        color: #FFFFFF;
        border-radius: 55px;
        border: 1px solid #fff;
    }

    .MuiButtonBase-root.btn-daftar {
        border-radius: 55px !important;
        background: #fff !important;
        color: #2775BB;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        height: 48px;
        width: 328px;
    }
}