.MuiButtonBase-root.MuiIconButton-root.btn-whatsapp {
    position: fixed;
    bottom: 155px;
    right: 35px;
    z-index: 1000;
    stroke-width: 1px;
    stroke: #FFF;
}
.MuiButtonBase-root.MuiIconButton-root.btn-live-chat {
    position: fixed;
    bottom: 105px;
    right: 20px;
    z-index: 1000;
    // width: 36px;
    // height: 36px;
    // fill: var(--link, #0069B3);
    stroke-width: 1px;
    stroke: #FFF;
}
.MuiButtonBase-root.MuiIconButton-root.btn-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
    stroke-width: 1px;
    stroke: #FFF;
}