.container-industry {
    position: relative;
    background-size: cover;
    position: relative;
    background-position: center top;

    .card-industry {
        background-size: cover;
        height: 246px;
        width: 246px;
        border-radius: 20px;

        .btn-type.MuiBox-root {
            width: 170px;
            height: 35px;
            flex-shrink: 0;
            border-radius: 55px;
            border: 1px solid #FFF;
            text-align: center;
            margin-top: 168px;
            margin-left: 38px;
            padding-top: 5px;

            .text-type.MuiTypography-root {
                color: #FFF;
                text-align: center;
                font-family: "Inter";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
    
    .btn-all.MuiBox-root {
        width: 271px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        background: linear-gradient(180deg, #FF8730 0%, #ED7D2B 100%);
        box-shadow: 0px 4px 16px 0px rgba(2, 75, 120, 0.35);

        .text-btn-all.MuiTypography-root {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }
    }
}