.submenu-services {
    color: #002561 !important;
    user-select: none;
    padding: 36px 48px;
    max-width: 100%;
    padding-left: 48px;
    padding-right: 48px;

    .MuiButtonBase-root.category-industry {
        background: none;
        padding: "5px";
    }

    .MuiButtonBase-root {
        color: #fff !important;
        border-color: #fff !important;
        font-size: 14px !important;
        border-radius: 55px !important;
        height: 36px;
    }

    .MuiTypography-root.MuiTypography-body1 {
        font-size: 16px !important;
        font-weight: 700 !important;
        white-space: nowrap;
    }

    a {
        .MuiTypography-root.MuiTypography-body1 {
            color: #006CAE;
        }
    }

    .submenu {
        margin-top: 16px;

        a,
        .submenu-item {
            color: #006CAE;

            &:hover {
                color: #009EDB;
            }

            .MuiTypography-root.MuiTypography-body2 {
                font-family: "Source Sans Pro" !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                margin-bottom: 5px;
                cursor: pointer;
            }
            .MuiTypography-root.MuiTypography-body1 {
                font-family: "Source Sans Pro" !important;
                font-size: 12px !important;
                font-weight: 300 !important;
                margin-bottom: 5px;
                color: #42423B;
            }
        }

    }

    .arrow-icon {
        width: 22px !important;
        height: 22px !important;
    }


    // .MuiTypography-root.MuiTypography-body2 {
    //     display: flex;
    //     flex-direction: column;
    //     color: #fff;
    //     line-height: normal;
    //     margin-bottom: 10px;
    //     cursor: pointer;

    //     &:hover {
    //         color: rgba(0, 170, 236, 0.75);
    //     }
    // }

    // .MuiBox-root {
    //     list-style-type: 'none';
    //     padding: 0;
    //     margin: 0;
    // }
}

// .card-menu-trip {
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     .MuiBox-root {
//         position: relative;
//         overflow: hidden;
//         background-size: cover;
//         // background-repeat: no-repeat;
//         // background-position: bottom -43px right -13px;
//         width: 180px;
//         height: 148px;
//         border-radius: 12px;
//     }

//     .MuiButtonBase-root.MuiButton-contained {
//         position: absolute;
//         height: 32%;
//         width: 100%;
//         bottom: 0;
//         border-radius: 0px 0px 12px 12px;
//         background: rgba(0, 170, 236, 0.75);
//     }
// }

//laptop 14" (screen pecentage 80% alike)
@media only screen and (min-width: 1279px) and (max-width: 1281px) {
    .submenu-trip {
        padding: 30px 40px;

        .MuiTypography-root.MuiTypography-body1 {
            font-size: 12px !important;
        }

        .submenu {
            a {
                .MuiTypography-root.MuiTypography-body2 {
                    font-size: 12px !important;
                }
            }
        }
    }
}