.submenu-business {
    color: #002561 !important;
    user-select: none;
    padding: 36px 48px;
    max-width: 100%;
    padding-left: 48px;
    padding-right: 48px;

    .btn-title {

        color: #002561 !important;
    }

    .MuiButtonBase-root {
        color: #fff !important;
        border-color: #fff !important;
        font-size: 14px !important;
        border-radius: 55px !important;
        height: 36px;
    }

    .MuiTypography-root.MuiTypography-body1 {
        font-size: 16px !important;
        font-weight: 700 !important;
        white-space: nowrap;

        a {
            color: #002561 !important;
        }
    }

    a {
        .MuiTypography-root.MuiTypography-body1 {
            color: #006CAE;
        }
    }

    .submenu {
        margin-top: 16px;

        a {
            color: #006CAE;

            &:hover {
                color: #009EDB;
            }

            .MuiTypography-root.MuiTypography-body2 {
                font-family: "Source Sans Pro" !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 32px !important;
            }

            .MuiTypography-root.MuiTypography-body1 {
                font-family: "Source Sans Pro" !important;
                font-size: 12px !important;
                font-weight: 300 !important;
                margin-bottom: 10px;
                color: #42423B;
            }
        }

    }

    .arrow-icon {
        width: 22px !important;
        height: 22px !important;
    }
}

//laptop 14" (screen pecentage 80% alike)
@media only screen and (min-width: 1279px) and (max-width: 1281px) {
    .submenu-trip {
        padding: 30px 40px;

        .MuiTypography-root.MuiTypography-body1 {
            font-size: 12px !important;
        }

        .submenu {
            a {
                .MuiTypography-root.MuiTypography-body2 {
                    font-size: 12px !important;
                }
            }
        }
    }
}