.stepper-flight.MuiStepper-root {
    width: 354px !important;

    .MuiStepLabel-label {
        margin-top: 14px !important;
        white-space: nowrap;
        color: #123554;
        font-family: Source Sans Pro;
        font-size: 12px;
        font-weight: 600;
    }
}