.container-product.auxoshift {
    position: relative;
    background-size: cover;
    position: relative;
    background-position: center top;

    .hero-banner-grid {
        height: 100vh;

        .hero-banner-box {
            height: 100vh;
        }

    }
}

.container-product {
    .mainBox {
        position: relative;
        color: #FFFFFF;
        height: 120vh;
        background-size: cover;
        display: flex;


        .backNavContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
            z-index: 1;
        }

    }

    .backNavContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: auto;
        padding-top: 100px;
        z-index: 1;
    }

    .image1 {
        position: relative;
        top: 20px;
        left: 47px;
        width: 543px;
        height: 310px;
    }

    .image2 {
        position: relative;
        bottom: 240px;
        left: 24px;
        width: 166px;
        height: 307px;
    }
}

//laptop 15" (breakpoints width 1900px)
@media only screen and (max-width: 1920px) {
    [data-slot="container"][data-max-width="xl"] {
        padding-left: 8px;
        padding-right: 8px;
    }

    .container-product .mainBox .backNavContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        padding-top: 130px;
        z-index: 1;
    }

    .left-banner {
        width: 45%;
    }

    .right-banner {
        width: 45%;
    }

    .container-product .image1 {
        position: relative;
        top: 20px;
        left: 300px;
        width: 543px;
        height: 310px;
    }

    .container-product .image2 {
        position: relative;
        bottom: 240px;
        left: 270px;
        width: 166px;
        height: 307px;
    }
}

//laptop 14" (breakpoints width 1600px)
@media only screen and (max-width: 1600px) {
    .left-banner {
        width: 55%;
    }

    .right-banner {
        width: 45%;
    }

    .container-product .image1 {
        position: relative;
        top: 20px;
        left: 47px;
        width: 543px;
        height: 310px;
    }

    .container-product .image2 {
        position: relative;
        bottom: 240px;
        left: 24px;
        width: 166px;
        height: 307px;
    }
}

//laptop 13" (breakpoints width 1440px)
@media only screen and (max-width: 1440px) {

    [data-slot="container"][data-max-width="xl"] {
        padding-left: 18px;
        padding-right: 18px;
    }

    .container-product .mainBox .backNavContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 100px;
        z-index: 1;
    }

    .left-banner {
        width: 50%;
    }

    .right-banner {
        width: 43%;
    }

    .container-product .image1 {
        position: relative;
        top: 20px;
        left: 47px;
        width: 543px;
        height: 310px;
    }

    .container-product .image2 {
        position: relative;
        bottom: 240px;
        left: 24px;
        width: 166px;
        height: 307px;
    }
}