.download-box.MuiBox-root {
    border-radius: 20px;
    background: linear-gradient(180deg, #057CC5 0%, #006CAE 10%);
    width: 380px;
    height: auto;
    flex-shrink: 0;
}

.title-box {
    height: 100px;
}

@media only screen and (max-width: 1400px) {
    .download-box.MuiBox-root {
        border-radius: 20px;
        background: linear-gradient(180deg, #057CC5 0%, #006CAE 10%);
        width: 320px;
        height: auto;
        flex-shrink: 0;
    }

    .text1 {
        font-size: 20px !important;
    }

    .vector-box {
        width: 75px !important;
        height: 96px !important;
        margin-left: 265px !important;
    }

    .arrow-image {
        margin-left: 30px;
        margin-top: 28px;
        width: 18px;
        height: 28px;
    }

    .title-box.MuiBox-root {
        height: 100px !important;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 1921px) {
    .download-box {
        border-radius: 20px;
        background: linear-gradient(180deg, #057CC5 0%, #006CAE 10%);
        width: 380px;
        height: auto;
        flex-shrink: 0;
    }

    .title-box {
        height: 70px !important;
    }
}