.footer {

    .logo-asyst {
        height: 36px !important;
        width: 88px;
    }

    .brand-footer {
        z-index: 3;
        // background-color: #00264C;
        background: linear-gradient(180deg, #006CAE 0%, #005589 100%);

        .MuiGrid-container {
            justify-content: flex-start;
        }

        .MuiListItem-root {
            padding: 5px 0px !important;
        }

        .MuiBox-root.box-logo {
            background-size: cover;

            &.ga {
                width: 175px;
            }

            &.star {
                width: 110px;
            }
        }

        .MuiDivider-root {
            &::before {
                width: 0% !important;
            }

            .MuiDivider-wrapper {
                padding-left: 0px !important;
            }
        }

        .category-footer {
            color: #FFF;
            font-size: 14px !important;
            font-weight: 700 !important;
            font-family: "Source Sans Pro" !important;
            margin-bottom: 16px;
        }
    }

    ul.MuiList-root.MuiList-padding {
        padding: 0px;
    }

    .copyright {

        .copyright-text {
            font-family: "Source Sans Pro" !important;
            display: inline-block;
            vertical-align: middle;
            width: auto;
            // margin-right: 12px;
            color: #FFF;
            font-size: 12px !important;
            font-weight: 400 !important;
            line-height: 24px;

            a,
            &.link {
                display: block;
                color: #fff !important;
                cursor: pointer;

                &:hover {
                    color: #1FC4F4 !important;
                }
            }
        }
    }

    .label-list-footer {
        color: #FFF;
        font-size: 14px !important;
        font-family: "Source Sans Pro" !important;

        &:hover {
            color: #009edb !important;
        }
    }

    .bg-logo {
        width: 96px;
        height: 32px;
        background-size: cover;
        background-position: top center;
    }

    .ga-desc {
        color: #4A4A4A;
        font-size: 14px !important;
        font-weight: 400;
        font-family: "Source Sans Pro" !important;
        line-height: 24px;
    }

    .award {
        color: #0069B3;
        text-align: center;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: "Source Sans Pro" !important;
    }

    .sosmed-icon {
        color: #FFF;

        &.custom {
            svg {
                width: 28px;
                height: 28px;
            }
        }

        &:hover {
            color: #009edb !important;
        }

    }

    .hide {
        display: none !important;
    }

    .MuiDivider-root {
        &::before {
            border-top: thin solid #fff !important;
        }

        &::after {
            border-top: thin solid #fff !important;
        }
    }

    .label-contact {
        font-size: 14px;
        font-family: 'Source Sans Pro' !important;
        color: #F9F9F9;
    }

    //laptop 14" (screen pecentage 80% alike)
    @media only screen and (min-width: 1279px) and (max-width: 1281px) {

        .brand-footer {
            .MuiGrid-container {
                margin-top: 20px;
            }

            .MuiListItem-root.list-ga-footer {
                padding: 3px 0px !important;

                &:hover {
                    color: #009edb !important;
                }
            }

            .logo-section-container {
                height: 70px;
            }
        }

        .category-footer {
            font-size: 13px !important;
        }

        .label-list-footer {
            font-size: 11px !important;
        }

        .copyright {
            .copyright-text {
                font-size: 11px !important;
            }
        }
    }

    .expand-footer {
        background-color: #00264C;
        padding: 0px !important;
        margin: 0px !important;
    }

    .category-footer-mobile {
        color: #FFF;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: "Inter" !important;
    }

    .label-list-footer-mobile {
        color: #FFF;
        font-size: 12px !important;
        font-family: "Source Sans Pro" !important;
        font-weight: 400 !important;

        &:hover {
            color: #1FC4F4 !important;
        }
    }

    .logo-section-container-mobile {
        height: 70px;
    }

    .MuiBox-root.box-logo-mobile {
        background-size: cover;

        &.ga {
            width: 135px;
        }

        &.star {
            width: 70px;
        }

        &.cabin {
            width: 98px;
        }

        @media only screen and (max-width: 900px) {
            background-size: cover;

            &.ga {
                width: 165px;
            }

            &.star {
                width: 100px;
            }

            &.cabin {
                width: 128px;
            }
        }

        @media only screen and (max-width: 700px) {
            background-size: cover;

            &.ga {
                width: 155px;
            }

            &.star {
                width: 90px;
            }

            &.cabin {
                width: 118px;
            }
        }

        @media only screen and (max-width: 600px) {
            background-size: cover;

            &.ga {
                width: 145px;
            }

            &.star {
                width: 80px;
            }

            &.cabin {
                width: 108px;
            }
        }
    }

    .copyright {

        .copyright-text-mobile {
            font-family: "Source Sans Pro" !important;
            color: #FFF;
            font-size: 10px !important;
            font-weight: 600 !important;
            line-height: 12.57px;
        }
    }
}

.footer-mobile {

    .logo-asyst {
        height: 46px !important;
        width: 110px;
    }

    .brand-footer {
        z-index: 3;
        // background-color: #00264C;

        .MuiGrid-container {
            justify-content: flex-start;
        }
    }

    .expand-footer {
        background-color: #006CAE;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0px !important;

        .summary-footer {
            color: #FFF;
            font-family: Source Sans Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 150% */
        }
    }

    .MuiAccordionSummary-expandIconWrapper {
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 150% */
    }

    .MuiAccordionDetails-root {
        background-color: #006CAE;
        padding: 0;
    }

    // .MuiListItem-root {
    //     padding
    // }

    .MuiPaper-root {
        margin-top: 0;
        margin-bottom: 0;
    }

    .list-footer {
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 257.143% */
    }

    .label-contact-mobile {
        font-size: 12px;
        font-family: 'Source Sans Pro' !important;
        color: #F9F9F9;
        align-items: center;
    }
}