.download-box.download-box {
    border-radius: 20px;
    background: linear-gradient(180deg, #2775BB 0%, #2775BB 10%);
    width: 380px;
    height: auto;
    flex-shrink: 0;
}

@media only screen and (max-width: 1400px) {
    .download-box.download-box {
        border-radius: 20px;
        background: linear-gradient(180deg, #2775BB 0%, #2775BB 10%);
        width: 320px;
        height: auto;
        flex-shrink: 0;
    }

    .text1.text1 {
        font-size: 20px;
    }

    .vector-box.vector-box {
        width: 75px;
        height: 96px;
        margin-left: 265px;
    }

    .arrow-image {
        width: 18px;
        height: 28px;
    }
}

@media only screen and (max-width: 1920px) {
    .download-box {
        border-radius: 20px;
        background: linear-gradient(180deg, #2775BB 0%, #2775BB 10%);
        width: 380px;
        height: auto;
        flex-shrink: 0;
    }
}