// Wrapper modal Request Demo (lihat components/product/shared/page-actions)
[data-slot="modal"] {
    overflow: auto;

    .customBgsModal {
        display: flex;
        justify-content: center;
        height: fit-content;
        margin: 20px;
    }
}
