.container-anteros-detail {
    position: relative;
    background-size: cover;
    position: relative;
    background-position: center top;

    .hero-banner-grid {
        height: 100vh;

        .hero-banner-box {
            height: 100vh;
        }

    }
}
//laptop 15" (breakpoints width 1900px)
@media only screen and (max-width: 1900px) {
    .left-banner {
        width: 45%;
    }

    .right-banner {
        width: 45%;

        .image2 {
            left: "1000px" !important;
        }
    }

    .image1 {
        left: "1000px" !important;
    }
}

//laptop 14" (breakpoints width 1600px)
@media only screen and (max-width: 1600px) {
    .left-banner {
        width: 50%;
    }

    .right-banner {
        width: 50%;

        .image2 {
            left: "1000px" !important;
        }
    }

    .image1 {
        left: "1000px" !important;
    }
}

//laptop 13" (breakpoints width 1440px)
@media only screen and (max-width: 1440px) {
    .left-banner {
        width: 55%;
    }

    .right-banner {
        width: 45%;
        
        .image1 {
            right: 100;
        }

        .image2 {
            left: 30;
        }
    }
}