.business {

    padding-top: 50px;

    .image-business {
        padding: 29px;
        padding-left: 0px;
        width: 500px;
        height: 300px;
        top: 2227px;
        left: 832px;
        border-radius: 20px;
    }

    [data-slot="typography"][data-variant="h1"] {
        color: #1A1A1A;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        width: 350px;
    }

    [data-slot="typography"][data-variant="h2"] {
        color: #3A3A3A;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        width: 700px;
    }

    [data-slot="typography"][data-variant="h3"] {
        color: var(--nuted-key-colors-tertiary, #123554);
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    [data-slot="typography"][data-variant="h4"] {
        color: #4A4A4A;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-inline: 32px;
        width: 565px;
        height: 62px;
        flex-shrink: 0;
    }

}