.overview {

    display: flex;
    flex-direction: column;
    gap: 88px;

    .img-overview-1 {
        width: 588.067px;
        height: 509.998px;
    }

    .img-overview-2 {
        width: 521px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 20px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
    }

    [data-slot="typography"][data-variant="h1"] {
        color: #1A1A1A;

        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
    }

    [data-slot="typography"][data-variant="h2"] {
        color: var(--nuted-key-colors-tertiary, #123554);

        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    [data-slot="typography"][data-variant="h3"] {
        color: #4A4A4A;

        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

}