.submenu-cari {
    color: #fff !important;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 304px;
    flex-direction: column;


    .MuiInputBase-root {
        border-radius: 55px !important;
        border: 1px solid #F3F3F3 !important;
        background: #FDFDFD !important;
        width: 740px;
        height: 56px;
        padding-left: 35px !important;
    }

    .MuiButtonBase-root {
        border-radius: 55px !important;
        background: linear-gradient(180deg, #0473C1 0%, #0069B3 100%) !important;
        box-shadow: none !important;
        width: 121px;
    }

    .MuiTypography-root.MuiTypography-body1 {
        color: #FFF !important;
        font-size: 14px !important;
        font-weight: 600 !important;

        a {
            color: #009EDB !important;
            padding-left: 16px;
        }
    }
}